@model Westwind.Weblog.PostViewModel
@{
    var config = Model.PostRepo.Configuration;
    ViewData["Title"] = config.ApplicationName;
    var posts = Model.Posts;
    var repo = Model.PostRepo;
}


<div style="margin-top:12px">
    @{
        int counter = 0;
        foreach (var post in posts)
        {
            counter++;

            if (post.IsFeatured)
            {
                <img src="~/images/featured.png" style="float: left; margin-right: 5px;"/>
            }
            <h2 class="margin-top">
                <a href="@Model.PostRepo.GetPostUrl(post.SafeTitle, post.Created)"
                        style="text-decoration: none;">@post.Title</a>
            </h2>
            <hr/>
            <div class="right">
                
                @if (post.CommentCount > 0)
                {
                    <a href="@(repo.GetPostUrl(post))#Feedback">
                        <i class="fa fa-comments-o"></i>
                        @repo.ShowCommentCount(post)
                    </a>
                }
            </div>
            <div class="byline">
                <i class="fa fa-clock-o"></i>                
                @AppWebUtils.WebLogDateString(post.Created,false )
                @(string.IsNullOrEmpty(post.Location) ? "" : "- " + post.Location)
            </div>


            <div class="postcontent" style="margin-bottom: 20px">
                @post.Abstract.TrimEnd()  
                
                <p class="margin-top margin-bottom">
                    <a href="@repo.GetPostUrl(post)">Read more...</a>
                </p>
            </div>
        }
    }
</div>
