@model Westwind.Weblog.Business.Models.Post

@{
    ViewData["Title"] = "Show Post";

    string postUrl;    
    postUrl = 
}

<h2>@Model.Title</h2>


<article>
@Html.Raw(Model.Body)
</article>

@section headers
{
    <meta property="og:title" content="@Model.Title %>" />
    <meta property="og:description" content="@Model.Abstract" />
    <meta property="og:url" content="@Context.Request.Path.Value" />

    @if (!string.IsNullOrEmpty(Model.FeaturedImageUrl)) 
    {
    <meta property="og:image" content="@Model.FeaturedImageUrl" />
    <meta property="og:image:secure_url" content="@Model.FeaturedImageUrl.Replace("http:","https:")" />
    }
    

<style>
        .comment>a:first-child { text-decoration: none; }
        .contenteditable { background: azure; padding: 10px; border: solid 1px orange; }

        .linkicon {
            width: 17px;
            height: 17px;
            margin-left: -22px;
            margin-top: 4px;
            float: left;
            vertical-align: text-bottom;
            opacity: 0.8;
            background-image: url(~/images/link.png);
            transition: opacity 0.5s ease-in-out;
        }
        .link-hidden {
            opacity: 0.1;
        }
        .postcontent>h3 {
            cursor: pointer;
            transition: opacity 0.5s ease-in-out;
        }
        .postcontent>h3:hover {
            opacity: 0.85;

        }

    .comment-dialog-header {
        color: #535353;
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 10px;
    }
    .comment-dialog {
        width:95%;
        text-align: left;
        margin: 0 auto;
        padding: 7px 5px;
    }
    .comment-dialog input[type=text],
    .comment-dialog input[type=email],
    .comment-dialog textarea
    {
        width: 95%;
        font-family: 'Trebuchet MS','Trebuchet',sans-serif;
        font-size: 1.05em;
        font-weight: bold;
        margin-bottom: 8px;
        padding: 5px 10px;
    }
    .comment-dialog textarea {
        font-size: 1em;
    }
    .comment-directions {
        width: 95%;
        color:#535353;
        background: cornsilk;
        text-align:center;
        font-size:0.8em;
        padding: 10px 10px;
        margin-top: 13px;
    }

        @@media(max-width: 639px) {
            .linkicon {
                display: none;
            }
        }


        .comment-textbox, .comment-textbox:focus {
            background-color: #444 !important;
            color: #e9e9e9;
            font-family: Consolas, monospace !important;
            font-size: 1.1em !important;
            font-weight: 500 !important;
        }
        .edit-toolbar {
            margin-top: 15px;
            background: #656565;
            color: white;
            padding: 5px 10px;
            width: 95%;
            height: 29px;
        }
        .edit-toolbar>* {
            color: white;
            padding: 6px 11px;
            margin-left: 1px;
            float: left;
            display: block;
        }
            .edit-toolbar>a:focus, .edit-toolbar>a:hover {
                background-color: #888 !important;
                color: white !important;
                text-decoration: none;
                }

</style>


}


    


    <article style="width: 100%;" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

        <header>
            <h2 itemprop="headline_name">
                <a href='<%= postUrl %>' style="text-decoration:none;">@Model.Title</a>
                <a id="lnkEditPost" runat="server"
                   Visible="false" class="hoverbutton"
                   target="_blank">@Westwind.Utilities.HtmlUtils.ImgRef("~/images/editwhite.gif")</a>
            </h2>
        </header>
        <hr />


        <div class="byline">
            <div class="leftbox">
                <img src="<%= ResolveUrl(" ~/images/time.gif") %>" /> <%=  AppWebUtils.WebLogDateString(Entry.Entity.Entered, DateTime.Today == Entry.Entity.Entered.Date) %>
                <%= string.IsNullOrEmpty(Entry.Entity.Location) ? "" : " - from " + Entry.Entity.Location %>
            </div>
            <div class="leftbox" style="float: right;">
                <%= AppWebUtils.ShowCommentCount(Entry.Entity.FeedBack) %>
            </div>

            <div class="leftbox" id="ShareIconContainer" style="float: right;">
                <div style="display:inline-block;width: 95px; overflow:hidden;">
                    <%= ShareButtons.ShareOnTwitter(Entry.Entity.Title, "RickStrahl", postUrl) %>
                </div>
                <div style="display:inline-block;width: 95px; overflow:hidden;">
                    <%= ShareButtons.ShareOnFacebook(postUrl) %>
                </div>
                <div style="display:inline-block;width: 75px; overflow:hidden;">
                    <%= ShareButtons.GooglePlusPlusOneButton(postUrl) %>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>




        <div id="ArticleBody" class="postcontent" itemprop="articleBody">
            <% if (!string.IsNullOrEmpty(App.SponsoredTopAd)) { %>
            <%= App.SponsoredTopAd %>
            <% } %>

            <%= Entry.Entity.Body %>


            <% if (RelatedPosts != null && RelatedPosts.Rows.Count > 0)
            { %>
            <div style="margin: 30px 0">
                <h3 style="margin-top: 30px">
                    Other Posts you might also like
                </h3>

                <ul>
                    <asp:Repeater runat="server" ID="repRelatedPosts">
                        <ItemTemplate>
                            <li><a href="<%# Entry.GetPostUrl(Eval(" SafeTitle") as string,(DateTime) Eval("Entered")) %>"><%# Eval("Title")  %></a></li>
                        </ItemTemplate>
                    </asp:Repeater>
                </ul>
            </div>
            <% } %>
        </div>



        <div class="advert">
            <%= App.GoogleImageAd %>
        </div>

        <style>
       .donate-buttons {
           display: flex; flex-direction: row; justify-content:space-between;
       }
       .social-button-container {
           margin-left: 15px;
           flex: 250 250 auto;
           display: flex; flex-direction: row; justify-content:space-around; margin-top: 3px;
       }
       @@media(max-width: 600px) {
           .donate-buttons { flex-direction: column; }

       }

        </style>
        <div class='borderbox'
             style='min-height:30px;box-shadow: 2px 2px 3px #535353;'>
            <% if (!string.IsNullOrEmpty(App.Configuration.PayPalEmail)) { %>

            <div class="donate-buttons">

                <%--  <a class="coinbase-button" style="flex: none"
                         href="https://www.coinbase.com/checkouts/397caa2a194b7538beba7250bec24915">
                    <img src="https://www.coinbase.com/assets/buttons/donation_small-c2401ae30dd0ad6018deadfc4bb506bf56b5b7062738ee449bee97c4e80ec70c.png" />
                </a>--%>

                <div style="flex: none;">
                    <img onclick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=rstrahl@west-wind.com&amp;item_name=Rick+Strahl%27s+Web+Log&amp;no_shipping=0&amp;no_note=1&amp;tax=0&amp;currency_code=USD&amp;lc=US&amp;bn=PP%2dDonationsBF&amp;charset=UTF%2d8&amp;image_url=https://weblog.west-wind.com/images/WebLogBannerLogo.jpg','PayPal');"
                         title="Find this content useful? Consider making a small donation."
                         alt="Make Donation"
                         style="text-decoration: none;" src="<%= ResolveUrl(" ~/images/donation.png") %>" />

                </div>
                <div style="font-size: 0.8em; width: 233px" class="hidable-xs">
                    Find this content useful? <b>Consider making a small donation</b> to show your support.
                </div>


                <% } %>


                <div class="social-button-container">
                    <div style="margin-top: -2px">
                        <%= ShareButtons.ShareOnTwitter(Entry.Entity.Title,"RickStrahl",postUrl) %>
                    </div>
                    <div>
                        <%= ShareButtons.ShareOnFacebook(postUrl) %>
                    </div>
                    <div>
                        <%= ShareButtons.GooglePlusPlusOneButton(postUrl) %>
                    </div>
                </div>
            </div>

            <div style="margin-top: 20px">
                <%= AppWebUtils.CategoryLinks(Entry) %>
            </div>

        </div>

        <br />

        <% if(Comment.DataSet.Tables["TComments"].Rows.Count > 0)
        { %>
        <h2>The Voices of Reason</h2>
        <hr style="margin-bottom: 30px;" />

        <asp:Panel runat="server" ID="FeedbackPanel">
            <a name="Feedback">&nbsp;</a>
            <div class="clearfix"></div>


            <asp:Repeater runat="server" ID="repFeedback" OnItemCommand="repFeedBack_ItemCommand" EnableViewState="false">
                <ItemTemplate>
                    <div id="<%# " cmt_" + Eval("Pk").ToString() %>
                        " class="comment">
                        <div class="comment-panel-left">
                            <%# AppWebUtils.GravatarLink( Container.DataItem as DataRowView) %>
                            <br />
                            <small>
                                <%# string.IsNullOrEmpty( Eval("Url") as string) ? Eval("Author") as string : HtmlUtils.Href( Eval("Author") as string,Eval("Url") as string,"_WebLog",null) %>
                                <br />
                                <%# AppWebUtils.WebLogDateString( (DateTime) Eval("Entered"),false ) %>
                            </small>
                        </div>
                        <div class="comment-panel-right">
                            <h3 style="margin-top: 0; font-size: 1.21em;">
                                <a name="<%# Eval(" pk") %>" href="#<%# Eval("pk") %>">#</a>
                                <%# Eval("Title")  %>
                            </h3>
                            <div class="commentbody" style="padding-top: 15px;">
                                <%# string.IsNullOrEmpty( Eval("Body") as string ) ?  "" :  (Eval("Body") as string) %>
                            </div>

                            <%
                            if (IsAdmin)
                            {
                            %>
                            <div style="margin-top: 10px;">
                                <a href='javascript:{}' data-id="<%# Eval(" pk") %>
                                    " class="hoverbutton remove-comment">
                                    <img src="<%= ResolveUrl(" ~/App_Themes/Standard/images/remove.gif") %>" />
                                    Remove Comment
                                </a>
                                <asp:Image runat="server" ImageUrl="~/images/EditWhite.gif" class="hoverbutton commentedit" />
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </ItemTemplate>
            </asp:Repeater>
        </asp:Panel>
        <% }%>

        <ww:ErrorDisplay runat="server" ID="ErrorDisplay" ErrorImage="~/app_themes/"></ww:ErrorDisplay>

        &nbsp;<asp:Button runat="server" ID="btnShowCommentTable" OnClick="btnShowCommentTable_Click"
                          Text="Add a Comment" class="submitbutton" /><div id="ContentOverlay" style="background:steelblue"></div>



        <asp:Panel runat="server" ID="CommentDialog" Visible="false"
                   CssClass="author commentauthor comment-dialog boxshadow">

            <div class="comment-dialog-header">What's on your Mind?</div>

            <div style='padding: 10px; margin-bottom: 0px;'>
                <div id='CommentDialogContent'>
                    <ww:ErrorDisplay ID="ErrorDisplayComment" runat="server" Width="450" />

                    <asp:HiddenField runat="server" ID="txtTitle"></asp:HiddenField>

                    <ww:wwTextBox ID="txtAuthor" runat="server" placeholder="What's your name?"></ww:wwTextBox>
                    <ww:wwTextBox ID="txtUrl" runat="server" placeholder="Your web site (optional)"></ww:wwTextBox>
                    <ww:wwTextBox ID="txtEmail" runat="server" type="email" placeholder="Your email address (optional)" style="margin-bottom: 0px;"></ww:wwTextBox>


                    <div class="smalltext"><i>not shown and used only for <a href="http://site.gravatar.com/">Gravatar</a></i></div>
                    <div class="edit-toolbar">

                        <a id="btnBold" title="Make the selected text bold (ctrl-b)">
                            <i class="fa fa-bold"></i>
                        </a>

                        <a id="btnItalic" title="Make the selected text italic (ctrl-i)">
                            <i class="fa fa-italic"></i>
                        </a>


                        <a id="btnCode" title="Turn selected text into a code block. (alt-c)" style="margin-left: 8px;">
                            <i class="fa fa-code"></i>
                        </a>

                        <a id="btnHref" title="Turn selected text into a a link (ctrl-k)">
                            <i class="fa fa-link"></i>
                        </a>


                        <div onclick="javascript: window.open('http://markdownmonster.west-wind.com/docs/_4ne1eu2cq.htm');"
                             target="top"
                             class="hidable-xs"
                             style="cursor: pointer; float: right; font-size: 0.8em; margin:auto">
                            <img src="<%= ResolveUrl(" ~/images/markdown.png") %>"/>
                            Markdown styling is supported.
                        </div>
                    </div>



                    <ww:wwTextBox ID="txtBody" runat="server"
                                  Height="250px"
                                  style="background-color: #333 !important"
                                  TextMode="MultiLine"
                                  CssClass="comment-textbox"></ww:wwTextBox>


                    <div id="divCommentPreview" style="display:none">
                    </div>

                    <br />
                    <table style="width:100%">
                        <tr>
                            <td>
                                <ww:wwCheckBox ID="chkRememberMe" runat="server" Text="Remember me?" />
                            </td>
                            <td style="text-align:right;" valign="top">
                                <small>
                                    <span id="lblCommentCharCount"></span>
                                </small>
                            </td>
                        </tr>
                    </table>

                    <ww:Captcha runat="server" ID="Captcha" CssClass="gridalternate"
                                Style="width: 330px; padding: 10px; margin: 5px; border-radius: 4px;" />

                    <asp:Button ID="btnComment_02" runat="Server" AccessKey="S" class="submitbutton"
                                OnClick="btnComment_Click" Text="Post Comment" style="margin-top: 10px;" />


                    <p style="margin: 10px 50px 10px 10px; font-size: 0.85em">
                        <b>Comment Etiquette:</b><br />
                        Please keep the comments on topic and please don't post <b>
                            unrelated questions
                            or large chunks of code
                        </b> - if you post code, please mark up
                        the code using <b>Markdown code fencing (``` before and after) or 4 spaces of indentation</b>,
                        so your code is readable for all of us.
                    </p>


                </div>
            </div>
        </asp:Panel>


        <%-- used only to provide validation - no actual binding --%>
        <ww:DataBinder ID="DataBinder" runat="server">
            <DataBindingItems>
                <ww:DataBindingItem ControlId="repFeedback"></ww:DataBindingItem>
            </DataBindingItems>
        </ww:DataBinder>

        <ww:AjaxMethodCallback runat="server" ID="Proxy" ServerUrl="~/WebLogCallbacks.ashx"></ww:AjaxMethodCallback>


        <ww:ScriptContainer runat="server" ID="ScriptContainer">
            <Scripts>
                <script src="~/scripts/jquery.js" rendermode="HeaderTop" type="text/javascript"></script>
                <script src="~/scripts/ww.jQuery.js" rendermode="Header" type="text/javascript"></script>
                <script src="~/ShowPost.js" rendermode="Header" type="text/javascript"></script>
            </Scripts>
        </ww:ScriptContainer>


        <link href="<%= ResolveUrl(" ~/scripts/highlightjs/styles/vs2015.css") %>" rel="stylesheet" />
        <script src="<%= ResolveUrl( " ~/scripts/highlightjs/highlight.pack.js") %>"></script>
        <script>
        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });
        </script>
        <br />
    </article>
    <!--
    <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:dc="http://purl.org/dc/elements/1.1/"
                 xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/">
    <rdf:Description
        rdf:about="<%= Entry.GetPostUrl()  %>"
        dc:identifier="<%= Entry.GetPostUrl() %>"
        dc:title="<%= Entry.Entity.Title %>"
        trackback:ping="<%= Entry.GetPostUrl() + "?Trackback=True" %>" />
    </rdf:RDF>
    -->
</asp:Content>